body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  background: #F5F8FA;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
*,
:before,
:after {
  box-sizing: inherit;
  font-family: inherit;
}
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #245682;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn {
  line-height: 15px;
  padding-right: 2px;
  top: 2px;
  color: #55acee;
  background-color: #fff;
  padding: 7px 20px;
  border-radius: 5px;
  border: 1px solid #c6d3dC;
  float: right;
  font-size: 0.9em;
}
.box {
  overflow: hidden;
  background: #fff;
}
.pad5 {
  padding: 5px;
}
.user-image {
  border-radius: 3px;
  width: 48px;
  height: 48px;
}
.block {
  display: block;
}
.menu {
  position: absolute;
  top: 0;
  background-color: #fff;
  left: 0;
  z-index: 9999;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}
.menu li {
  white-space: pre;
  padding: 2px 10px;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
}
#header {
  background: #fff;
  height: 50px;
  border-bottom: 1px solid #666;
  -webkit-app-region: drag;
}
#header .page-title {
  margin: 0 auto;
  padding-top: 15px;
  text-align: center;
}
#header .page-title > * {
  -webkit-app-region: no-drag;
  cursor: default;
}
#header .page-title back {
  font-size: 0.8em;
}
#header .page-title back:after {
  content: ' . ';
}
#main {
  position: fixed;
  top: 50px;
  left: 70px;
  right: 0;
  overflow: scroll;
  bottom: 0;
}
#main.show-search {
  top: 82px;
}
#main .loading {
  text-align: center;
  transition: all 0.4s;
}
#sidebar {
  width: 70px;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  background: #1A1A1A;
  text-align: center;
  padding-top: 10px;
}
#sidebar .icon {
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
}
#sidebar .icon.home {
  background-image: url(../images/menu-timeline-gray.png);
}
#sidebar .icon.home.active {
  background-image: url(../images/menu-timeline-blue.png);
}
#sidebar .icon.mentions {
  background-image: url(../images/menu-mentions-gray.png);
}
#sidebar .icon.mentions.active {
  background-image: url(../images/menu-mentions-blue.png);
}
.twi {
  background-image: url('../images/everything-sprite.png');
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.twi.twi-reply {
  background-position: 0 0px;
}
.twi.twi-reply:hover {
  background-position: -16px 0px;
}
.twi.twi-favorite {
  background-position: -33px 0px;
}
.twi.twi-favorite:hover {
  background-position: -49px 0px;
}
.twi.twi-retweet {
  background-position: -81px 0px;
  width: 18px;
}
.twi.twi-retweet:hover {
  background-position: -100px 0px;
}
.favorited .twi.twi-favorite {
  background-position: -65px 0px !important;
}
.retweeted .twi.twi-retweet {
  background-position: -119px 0px !important;
}
.tweet {
  border-bottom: 1px solid #dde3e8;
  padding: 5px 10px;
  background: #fff;
  /*qoute*/
}
.tweet.lfa .text,
.tweet.lar .text {
  text-align: right;
  direction: rtl;
}
.tweet.len .text {
  text-align: left;
  direction: ltr;
}
.tweet header {
  padding-left: 35px;
  font-size: 0.8em;
  color: #8899A6;
  margin: 2px 0;
}
.tweet header::before {
  content: ' ';
  background-position: -53px 2px;
  background-image: url('../images/everything-sprite.png');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: 91px 11px;
}
.tweet section {
  overflow: hidden;
  padding-top: 5px;
}
.tweet .image {
  width: 48px;
  float: left;
  margin-right: 7px;
}
.tweet .content {
  float: left;
  width: calc(100% - 55px);
}
.tweet .user {
  font-size: 0.9em;
  white-space: pre;
}
.tweet .user small {
  color: #8899A6;
  display: inline-block;
}
.tweet .text {
  font-size: 0.9em;
  line-height: 1.3em;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: block;
}
.tweet .text img {
  width: 100%;
}
.tweet footer {
  margin-left: 55px;
  margin-top: 5px;
}
.tweet footer:after {
  content: ' ';
  display: block;
  clear: both;
}
.tweet footer li {
  float: left;
  list-style: none;
  position: relative;
}
.tweet footer li .menu {
  top: 0;
  left: 0;
  display: none;
}
.tweet footer li:active .menu {
  display: block;
}
.tweet footer a {
  padding: 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  text-decoration: none;
}
.tweet footer a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.tweet footer a:hover .twi.twi-retweet {
  background-position: -100px 0px;
}
.tweet footer a:hover .twi.twi-favorite {
  background-position: -49px 0px;
}
.tweet footer a:hover .twi.twi-reply {
  background-position: -16px 0px;
}
.tweet footer a span {
  margin-top: 2px;
  margin-left: 2px;
}
.tweet .media {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  background-size: 100%;
  background-position: center;
  cursor: zoom-in;
}
.tweet .mention,
.tweet .url {
  display: inline-block;
  direction: ltr;
}
.tweet .tweet {
  border: 1px solid #f0f0f0;
  overflow: hidden;
  border-radius: 5px;
  background: #fafafa;
}
.tweet .tweet.lfa .text,
.tweet .tweet.lar .text {
  text-align: right;
  direction: rtl;
}
.tweet .tweet.len .text {
  text-align: left;
  direction: ltr;
}
.tweet .tweet .content {
  width: 100%;
}
.tweet-list .ng-enter,
.tweet-list .ng-leave {
  -webkit-transition: 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045) all;
  -moz-transition: 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045) all;
  -ms-transition: 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045) all;
  -o-transition: 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045) all;
  transition: 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.tweet-list .ng-leave.ng-leave-active,
.tweet-list .ng-enter {
  opacity: 0;
  height: 0px;
}
.tweet-list .ng-enter.ng-enter-active,
.tweet-list .ng-leave {
  opacity: 1;
  height: 100px;
}
.medias {
  height: 120px;
}
.medias .media {
  float: left;
  background-size: cover;
}
.medias.num2 div:nth-child(1) {
  width: calc(50% - 2px);
  height: 100%;
  background-size: cover;
  border-radius: 5px 0 0 5px;
}
.medias.num2 div:nth-child(2) {
  width: 50%;
  height: 100%;
  background-size: cover;
  border-radius: 0 5px 5px 0;
  margin-left: 2px;
}
.medias.num3 div:nth-child(1) {
  width: calc(50% - 2px);
  height: 100%;
  background-size: cover;
  border-radius: 5px 0 0 5px;
  margin-right: 2px;
}
.medias.num3 div:nth-child(2) {
  width: 50%;
  height: calc(50% - 1px);
  background-size: cover;
  border-radius: 0 5px 0 0;
  margin-bottom: 2px;
}
.medias.num3 div:nth-child(3) {
  width: 50%;
  height: calc(50% - 1px);
  background-size: cover;
  border-radius: 0 0 5px 0;
}
.medias.num4 div {
  width: calc(50% - 1px);
  height: calc(50% - 1px);
  background-size: cover;
}
.medias.num4 div:nth-child(1) {
  border-radius: 5px 0 0 0;
  margin-bottom: 2px;
  margin-right: 2px;
}
.medias.num4 div:nth-child(2) {
  border-radius: 0 5px 0 0;
}
.medias.num4 div:nth-child(3) {
  border-radius: 0 0 0 5px;
  margin-right: 2px;
}
.medias.num4 div:nth-child(4) {
  border-radius: 0 0 5px 0;
}
.profile .header {
  background-size: cover;
  height: 160px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 5px;
  background-color: #f0f0f0;
}
.profile .header .content {
  text-align: center;
  padding-top: 30px;
  color: #fff;
  text-shadow: 0px 5px 10px #000;
}
.profile .header figure {
  margin: 0;
  display: inline-block;
  border-radius: 5px;
  border: 4px solid #fff;
}
.profile .header img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background-color: #fff;
}
.profile .bar {
  border-top: 1px solid #A6B3BC;
  border-bottom: 1px solid #A6B3BC;
}
.profile .bar li {
  display: inline-block;
  color: #333;
  padding: 10px;
  border-right: 1px solid #A6B3BC;
}
.profile .bar li small {
  display: block;
  font-size: 0.7em;
  color: #A6B3BC;
}
#searchbar {
  position: fixed;
  left: 70px;
  right: 0;
  background: #fff;
  top: 50px;
  height: 0;
  overflow: hidden;
  transition: 0.15s;
  border-bottom: 1px solid #1A1A1A;
}
#searchbar.show {
  height: 30px;
  border-bottom: 2px solid #1A1A1A;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
#searchbar .action {
  font-size: 20px;
  border: 0;
  width: 25px;
  padding: 4px 0px 0px 3px;
  float: left;
  height: 30px;
  color: #ccc;
}
#searchbar .query {
  border: 0;
  height: 30px;
  margin: 0;
  font-size: 15px;
  width: calc(100% - 25px);
  outline: 0;
}
