<!DOCTYPE html>
<html ng-app="tweetbeat" ng-class="animation">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta charset="utf-8">
    <title>Home</title>
    <script type="text/javascript">
      // disable zoom
      require('web-frame').setZoomLevelLimits(1, 1);
      window.$ = window.jQuery = require('jquery');
      var angular  = require('angular');
      var Remote = require('remote')
    </script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/animations.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/directive.js"></script>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
    <style>
      body, .fa {
        -webkit-user-select: none;
        font-family: {{settings['font-family']}};
        font-size: {{settings['font-size']}};
      }
      .tweet .text {
        font-family: {{settings['tweet-font-family']}};
      }
  </style>
  </head>
  <body class="{{settings['style']}}">
    <div class="container" ng-controller="MainController" >
      <header id="header">
        <div class="page-title" ng-click="titleClicked($event)" ng-bind-html="getTitle() | html"></div>
      </header>
      <div id="sidebar">
        <ul>
          <li><img class="user-image" ng-src="{{me | profile_image}}"></li>
          <li ui-sref="home" class="icon home"></li>
          <li ui-sref="mention" class="icon mentions"></li>
        </ul>
      </div>
      <div id="main">
        <div ui-view id="view" class="views"></div>
      </div>

      <form id="searchbar" class="{{searchForm.show ? 'show' : 'hide'}}" method="post" ng-model="searchForm" ng-submit="doSearch(searchForm)">
        <input type="hidden" ng-model="searchForm.action" value="@"/>
        <span class="action">{{searchForm.action}}</span>
        <input type="text" class="query" ng-model="searchForm.q" value=""/>
        <button type="submit"></button>
      </form>
    </div>
<script type="text/ng-template" id="tweet-template.html">
  <div class="tweet {{(tweet.retweeted_status||tweet).favorited ? 'favorited' : ''}} {{tweet.retweeted ? 'retweeted' : ''}} l{{tweet.lang}}"
    id="{{tweet.id_str}}">
    <header class="fa fa-retweet" ng-if="tweet.retweeted_status">
      {{tweet.user.name}} retweeted
    </header>
    <!-- Normal Tweet -->
    <section ng-if="!tweet.retweeted_status && !tweet.quoted_status">
      <div class="image">
        <a href="#user"><img class="user-image" ng-src="{{tweet.user | profile_image}}"></a>
      </div>
      <div class="content">
        <div class="user"><strong>{{tweet.user.name}}</strong> <small>@{{tweet.user.screen_name}}</small></div>
        <div class="text" ng-bind-html="tweet | tweetEntity"></div>
      </div>
    </section>
    <!-- retweet -->
    <section ng-if="tweet.retweeted_status">
        <div class="image">
          <img class="user-image" ng-src="{{tweet.retweeted_status.user | profile_image}}">
        </div>
        <div class="content">
          <div class="user"><strong ng-bind-html="tweet.retweeted_status.user.name | html"></strong> <small>@{{tweet.retweeted_status.user.screen_name}}</small></div>
          <div class="text l{{tweet.retweeted_status.lang}}" ng-bind-html="tweet.retweeted_status | tweetEntity"></div>
        </div>
    </section>
    <!-- quote -->
    <section ng-if="tweet.quoted_status">
      <div class="image">
        <img class="user-image" ng-src="{{tweet.user | profile_image}}">
      </div>
      <div class="content">
        <div class="user"><strong>{{tweet.user.name}}</strong> <small>@{{tweet.user.screen_name}}</small></div>
        <div class="text" ng-bind-html="tweet | tweetEntity"></div>
        <div class="quote tweet l{{tweet.quoted_status.lang}}" id="{{tweet.quoted_status.id_str}}">
          <div class="content">
            <div class="user"><strong>{{tweet.quoted_status.user.name}}</strong> <small>@{{tweet.quoted_status.user.screen_name}}</small></div>
            <div class="text" ng-bind-html="tweet.quoted_status | tweetEntity"></div>
          </div>
        </div>
      </div>
    </section>

    <footer class="tweet-actions">
      <ul >
        <li><a href ng-click="favorite()"><i class="twi twi-favorite"></i><span>Favorite</span></a></li>
        <li><a href ng-click="retweet()"><i class="twi twi-retweet"></i> <span>Retweet</span></a></li>
        <li><a href ng-click="reply()"><i class="twi twi-reply"></i> <span>Reply</span></a></li>
      </ul>
    </footer>
  </div>
</script>
  </body>
</html>
