<!DOCTYPE html>
<html ng-app="tweetbeat">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/app.css" media="screen" title="no title" charset="utf-8">
    <style>
      textarea {
        position: fixed;
        top: 0;
        left: 70px;
        right: 0;
        bottom: 40px;
        display: block;
        resize: none;
        width: 260px;
        border: none;
        outline: none;
        line-height: 1.5em;
        font-family: {{settings['font-family']}};
        font-size: {{settings['font-size']}};
      }
      body {
        -webkit-user-select: none;
        font-family: {{settings['font-family']}};
        font-size: {{settings['font-size']}};
      }
    </style>
  </head>
  <body class="{{settings['style']}}">
    <div class="container" ng-controller="TweetController">
      <textarea name="name" ng-model="status" ng-keydown="keyDown($event)" rows="8" cols="40"></textarea>
      <button type="button" ng-click="send()" ng-disabled="disabled" name="button">Tweet</button>
      <small>{{140-status.length}}</small>
    </div>
    <script type="text/javascript">
      var angular  = require('angular');
      var Remote = require('remote')
      var app = angular.module('tweetbeat', ['ngStorage', 'tweetbeat.services']);
      app.run(function($localStorage, $rootScope){
         $localStorage.$default({
          settings: {
            "menubar-icon": true,
            "font-size": "12pt",
            "font-family": "'Helvetica Neue',Helvetica,Arial,sans-serif",
            "style": "light",
            "image-preview": true,

            "notify-tweets": ["menubar", "dock icon", "notification center"],
            "notify-mentions": ["menubar", "dock icon", "notification center"],
            "notify-favorites": ["menubar", "dock icon", "notification center"],
            "notify-retweets": ["menubar", "dock icon", "notification center"],
            "notify-followers": ["menubar", "dock icon", "notification center"],
            "notify-messages": ["menubar", "dock icon", "notification center"],
            "notify-lists": ["menubar", "dock icon", "notification center"]
          }
        })
        $rootScope.settings = $localStorage.settings
      })
      app.controller('TweetController', function($scope, $ui, $api) {
        $scope.status = ""

        $scope.$watch(function(){
          return $scope.status
        }, function(newValue, oldValue){
          if (newValue.length > 140 || newValue.length == 0)
            $scope.disabled = true
          else
            $scope.disabled = false
        })

        /**
         *  Key down event
         *
         **/
        $scope.keyDown = function(event) {
          var code = event.keyCode || event.which;
          if (code === 13 && (event.ctrlKey || event.metaKey)) {
            $scope.send();
          }
        }

        /**
         *  Send tweet
         *
         **/
        $scope.send = function() {
          if ($api.isReady()) {
            $ui.hideWindow()
            $api.tweet($scope.status, {}, function(error, data, response){
              if (error) {
                var data = JSON.parse(error.data)
                if ( data.errors && data.errors[0] )
                  $ui.alert('error', 'Sending Fail!!!',  data.errors[0].message)
                else
                  $ui.alert('error', 'Sending Fail!!!',  "Something went wrong, Please try again.")
                $ui.showWindow()
              } else {
                $ui.closeWindow()
              }
            })
          } else {
            $ui.alert('error', 'Authentication Fail', 'Cann\'t send tweet, you must login first.')
          }
        }
      });
    </script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="bower_components/ngstorage/ngStorage.min.js"></script>
  </body>
</html>
