
<div class="row">
  <div class="message" ng-if="!isLoggedIn">
    <p>
      <a ng-click="login()" href>Login Twitter</a>
    </p>
  </div>
    <div class="col-xs-12 tweet-list" id="timeline" ng-click="click($event)" >
      <div infinite-scroll='loadMore()' infinite-scroll-disabled='isRefreshing && hasMore' infinite-scroll-distance='1'>

        <div class="row" ng-repeat="t in tweets_order">

          <tweet data="tweets[t]" favorite="favorite(t)"
            reply="reply(t)" retweet="retweet(t)"></tweet>

        </div>
        <div class="loading" ng-if="isRefreshing && hasMore">
          <img src="/images/loading-bars.svg" alt="" />
        </div>
      </div>
        <!-- end tweet -->
    <div>
      <br/>
      <input type="button" class="btn btn-info" id="load-more" ng-click="refreshTimeline(tweets[tweets.length-1].id)" ng-show="connectedTwitter" value="Load More"/>
    </div>
  </div>
</div>
